@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
        margin: 0;
        background-color: rgba(51, 50, 50, 1);
}
html {
    scroll-behavior: smooth;
}
.container{
    background-color: white;

    width: 100%;
    height: 650px;
}
.img_home{
    display: flex;
    justify-content: center;
    width: 100%;
  
}
.img_home img {
    max-height: 650px;
    min-height: 650px;
    width: 75%;
    object-fit: cover;
    object-position: center;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        
        image-rendering: auto;
            image-rendering: crisp-edges;
            image-rendering: pixelated;
    



}
.card_top{
    font-family: 'Poppins';
    color: white;
    position: absolute;
   
    z-index: 1;
    width: 100%;
    height: 650px;
    background-color: rgba(75, 70, 70, 0.676);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}
.card_top .hello{
    font-size: 50px;
   
}
.card_top .name{
    font-size: 80px;
    font-weight: 700;
}
.card_top .desc {
    font-size: 30px;

}
.container2{
    font-family: 'Courier Prime', Courier, monospace;
    background-color: rgba(51, 50, 50, 1);

}
.container2 h1{
    text-align: right;
}
.container3 h1{
    text-align: left;
}
.container2 h1,.container3 h1,.container4 h1,.container5 h1,.container6 h1{
    
    
    font-size: 40px;
    color: rgba(237, 224, 108, 1);
    margin-bottom: 20px;
}
.container2 .text,.container3 p{
    
    font-size: 18px;
    color: white;
    text-align: justify;
}
.container2 p{
    margin-top: 15px;
}



.container2 img,.box2 img{
    width: 80%;
    
  
   
}

.decor_img_2 {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 150px;
    background-color: rgb(161, 160, 160);
    left: 35.5%;
    margin-top: 2%;
}

.container2 .box1{
    justify-content: center;
    display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 600px;
}
.container3{
    font-family: 'Courier Prime', Courier, monospace;
        background-color: rgba(51, 50, 50, 1);
}
.container3 .box2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 600px;
}
.container3 h2{
    margin-top: 30px;
    text-align: left;
    font-size: 30px;
        color: rgba(237, 224, 108, 1);
        margin-bottom: 20px;

}


.item {
    display: flex;
    text-align: center;
}
.co{
    width: 10px;
    background-color: aqua;
    overflow: hidden;
}

.fa-brands {
    font-size: 50px;
    margin: 20px;


}

.item i:hover {
    color: rgb(255, 255, 255);
}

.item .icon {
    margin-right: 1000px;
}


.cpp{
    margin-top: 10px;
    width: 80px;
}
.cpp img{
    width: 100%;
}
.namecpp{
    margin-top: 18px;
    color: white;
}

div .name {
    font-size: 15px;
    color: white;
}

.w-full {
    width: 150px;
}
.skill_apps{
    display: flex;
    padding: 10px;
}
.apps_logo{
    width: 80px;
}
.apps_logo img{
    width: 100%;
}
.container4{
   
    background-color: rgba(51, 50, 50, 1);
}
.container4 {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 30px;

}
.container4 h1{
    font-family: 'Courier Prime', Courier, monospace;
    text-align: center;
}

.project{
    font-family: 'Poppins';
    margin: 10px;
    margin-top: 50px;
    width: 300px;
    height: 350px;
    overflow: hidden;
}

.project img{
    width: 300px;
    max-height: 400px;
    min-height: 350px;
    object-fit: cover;
    object-position:left ;
}
.bx_project{
    
    position: absolute;
    width: 300px;
    height: 350px;
    background-color: rgba(237, 224, 108, 0.513);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.bx_project:hover{
    background-color: rgba(237, 224, 108, 0.827);
}
.bx_project .judul{
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
}
.bx_project .desc {
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
}
a{
    text-decoration: none;
}
.preview{
    background-color: white;
    padding: 10px;
    color: black;
}
.preview:hover{
    background-color: rgb(168, 168, 168);
}

.container5{
    font-family: 'Courier Prime', Courier, monospace;
    padding: 10px;
}
.container5 h1{
    font-family: 'Courier Prime', Courier, monospace;
    text-align: center;
}

.photo_services{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.bx_services{
    margin: 10px;
    width: 350px;
    height: 400px;
    background-color: rgba(92, 92, 92, 0.475);
    padding: 10px;
   
}
.name_services{
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.bx_services p{
    text-align: center;
}
.desc_services{
    color: white;
    font-size: 15px;
}
.photo_services img{
    max-width: 100px;
    max-height: 100px;
    object-position: center;
    object-fit: cover;
    max-width: 100px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
}
.container6{
    margin-top: 50px;
    padding: 10px;

}


.container6 h1 {
    font-family: 'Courier Prime', Courier, monospace;
    text-align: center;

}
.container6 h2 {
    font-family: 'Courier Prime', Courier, monospace;
    color: white;
    font-weight: lighter;
    font-size: 22px;

}
.contact{
    font-family: 'Courier Prime', Courier, monospace;
    
}
.contact .card_message{
    margin-top: 50px;
    width: 100%;
    padding: 30px;
   
}
.contact .details_contact{
    margin-top: 50px;
    width: 100%;
    padding: 30px;
    
   
}
.details_contact .details{
    margin-top: 50px;
}
.form{
    margin-top: 50px;
}
.form .box{
    margin-top: 20px;
}
.bx_details{
    margin-bottom: 18px;
    font-size: 15px;

}
.bx_details p{
    margin-top: 5px;
}
iframe {
    width: 100%;
    height: 200PX;
}


input[type='text'],input[type="email"],textarea{
    background-color: rgba(96, 96, 96, 0.704);
    outline: none;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}
input[type="submit"]{
    background-color: yellow ;
    padding: 10px;
    border: none;
    margin-top: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 15px;
    font-family: 'Courier Prime', Courier, monospace;
}
input[type="submit"]:hover{
    background-color: rgba(255, 255, 0, 0.723);
}

@media screen and (min-width:960px) {
    .container2,.container3 {
        padding: 30px;
            display: flex;
        }
    
        .container2 .box1, .container2 .box2,.container3 .box1,
        .container3 .box2{
            
            width: 50%;
            padding: 100px 20px 20px 20px;

        }
        
                .container2 img,.box2 img {
                    width: 350px;
                    
        
        
                }
                .box-project {
                    display: flex;
                    justify-content: center;
                }
        .con_services {
            display: flex;
            justify-content: center;
        }
    .contact{
        display: flex;
        justify-content: center;
    }
        .contact .card_message {
            
            width: 50%;
            
    
        }
    
        .contact .details_contact {
         
            width: 30%;
           
    
    
        }
}

@media screen and (min-width:560px){
    .box1 img,
        .box2 img {
            width: 50%;
    
    
        }
    
}
@media screen and (max-width:960px){
    .container2,.container3 {
            padding: 20px;
            
        }
        .container2 .box1,
        .container2 .box2,
        .container3 .box1,
        .container3 .box2{
            margin-top: 50px;
        }
                
               
}
@media screen and (max-width:560px) {

    .cpp {
            width: 40px;
        }
    .apps_logo {
            width: 50px;
        }
    .img_home img {
         
            width: 100%;

        }
        .card_top .hello {
            font-size: 25px;
    
        }
    
        .card_top .name {
            font-size: 50px;
            font-weight: 600;
        }
    
        .card_top .desc {
            font-size: 15px;
    
        }
                .container2 h1,
                .container3 h1,
                .container5 h1 {
                
        
                    font-size: 30px;
                    color: rgba(237, 224, 108, 1);
                    margin-bottom: 20px;
                }
                 .container3 h2 {
                                    
                                    font-size: 20px;
                                  
                
                                }
                .container2 .box1,
                .container2 .box2 {
        
                    width: 100%;
                   
        
        
                }
                                .container2 .text,
                                .container3 p {
                
                                    font-size: 15px;
                                    color: white;
                                    text-align: justify;
                                }
                .c_services{
                    display: flex;
                    justify-content: center;
                }
                .contact .card_message,
                .contact .details_contact {
                    
                    padding: 13px;
                }
  
    
}


.copyright{
    background-color: rgba(237, 224, 108, 1);
    padding: 10px;
    font-family: 'Poppins';
}
.items {
    display: flex;
}
.items i{
    font-size: 30px;
    color: rgba(51, 50, 50, 1);
}
.items i:hover{
    color: rgb(116, 113, 113);
}