@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}
.wrapper{
    
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    font-family: 'Poppins';
    transition: 0.5s;
}
.wrapper-scroll{
    transition: 0.5s;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    font-family: 'Poppins';
    background-color: rgba(255, 255, 255, 0.829);
    
    box-shadow: 0px 5px 20px rgba(31, 30, 30, 0.37);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.navbar-scroll{
    
   
}
 nav ul li a{
    color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
        text-align: center;
}





nav ul li{
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background
}



/* burger icon */
.box-burger {

    padding: 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: right;
}

.burger {

    display: inline-block;
    cursor: pointer;
    z-index: 2;
}

.bar1,
.bar3 {

    width: 28px;
    height: 2px;
    background-color: #554f4f;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 2px);
    transform: rotate(-45deg) translate(-5px, 2px);
    background-color: rgb(131, 130, 130);
    -moz-transform: rotate(-45deg) translate(-5px, 2px);
    -ms-transform: rotate(-45deg) translate(-5px, 2px);
    -o-transform: rotate(-45deg) translate(-5px, 2px);
}

.change .bar2 {
    width: 30px;
    opacity: 10;
    background-color: rgb(154, 151, 151);
}

.change .bar3 {
    -webkit-transform: rotate(43deg) translate(-3px, -2px);
    transform: rotate(43deg) translate(-3px, -2px);
    background-color: rgb(136, 136, 136);
    -moz-transform: rotate(43deg) translate(-3px, -2px);
    -ms-transform: rotate(43deg) translate(-3px, -2px);
    -o-transform: rotate(43deg) translate(-3px, -2px);
}



nav {


    transition: top 1s;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -ms-transition: top 1s;
    -o-transition: top 1s;
}

nav .brand a {
    font-size: 30px;
    text-decoration: none;
    font-weight: 550;
    color: rgb(102, 101, 101);

}

.bg-sidebar {
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    position: fixed;
   
    background: rgba(0, 0, 0, .1);
    transition: .3s;
    visibility: hidden;
}

.bg-sidebar.change {
    right: 0;
    visibility: visible;
    display: block;
}

nav ul {
   
    display: flex;
    position: fixed;
    background-color: #fcfcfc;
    z-index: 7;
    top: 0;
    bottom: 0;
    right:-300px;
    width: 300px;
    transition: .5s;
    align-items: flex-start;
    flex-direction: column;
}

.change ul {
    right: 0;
    transition: .5s;
    z-index: 7;
}

nav ul li {
    list-style: none;
    padding: 10px;

}
nav ul li a:hover{
    color: rgba(237, 224, 108, 1);
}
@media screen and (max-width:960px) {
    .navbar {
            padding: 20px;
        }
    
        .navbar-scroll {
            padding: 20px;
            background-color: white;
        }
}


@media screen and (min-width: 960px) {
    

    .bg-sidebar.change {
        right: 0;
        visibility: hidden;
        display: none;
    }

    .burger {
        display: none;
    }

    nav {
        position: relative;
    }

    nav ul {
        display: flex;
        position: relative;
        background-color: unset;
        top: unset;
        bottom: unset;
        right: unset;
        width: unset;
        flex-direction: row;
    }

    nav ul li {
        padding: 10px 15px;

    }

   


    nav ul li:last-child {
        font-weight: 550;
    }



    hr {
        width: 100%;
        color: aliceblue;
        justify-content: center;
        justify-items: center;


    }
}
@media screen and (min-width:960px) {
    .bg-sidebar, .box-burger{
        opacity: 0;
    }
    nav ul {
            display: flex;
            justify-content: center;
    
        }
    nav ul {
            display: flex;
        
        }
   
    
}
