* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background
}



/* burger icon */
.box-burger {

  padding: 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: right;
}

.burger {

  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1,
.bar3 {

  width: 28px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 2px);
  transform: rotate(-45deg) translate(-5px, 2px);
  background-color: white;
  -moz-transform: rotate(-45deg) translate(-5px, 2px);
  -ms-transform: rotate(-45deg) translate(-5px, 2px);
  -o-transform: rotate(-45deg) translate(-5px, 2px);
}

.change .bar2 {
  width: 30px;
  opacity: 10;
  background-color: rgb(255, 255, 255);
}

.change .bar3 {
  -webkit-transform: rotate(43deg) translate(-3px, -2px);
  transform: rotate(43deg) translate(-3px, -2px);
  background-color: white;
  -moz-transform: rotate(43deg) translate(-3px, -2px);
  -ms-transform: rotate(43deg) translate(-3px, -2px);
  -o-transform: rotate(43deg) translate(-3px, -2px);
}




/*swicth*/

/* The switch - the box around the slider */
.switch {
 margin-top: 5px;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  ;
  transition: .4s;
}

input:checked+.slider {
  background-color: #303136;
}

input:checked+.slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
/* wraper */


.container-scroll {
  z-index: 3;
  background-color: #13005A;
  
  border-bottom: 0.5px rgb(255, 255, 255) solid;
  padding: 10px 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.container {
  background-color: #13005A;
  padding: 10px 20px;
  transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  color: white;

}

nav {


  transition: top 1s;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
}

nav .brand a {
  font-size: 30px;
  text-decoration: none;
  font-weight: 550;
  color: rgb(102, 101, 101);

}

.bg-sidebar {
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .1);
  transition: .3s;
  visibility: hidden;
}

.bg-sidebar.change {
  right: 0;
  visibility: visible;
  display: block;
}

nav ul {
  display: flex;
  position: fixed;
  background-color: #505050;
  z-index: 4;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  transition: .5s;
  align-items: flex-start;
  flex-direction: column;
}

nav ul.change {
  right: 0;
  transition: .5s;
}

nav ul li {
  list-style: none;
  padding: 10px;

}

nav ul li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

@media screen and (min-width: 960px) {

  .bg-sidebar.change {
    right: 0;
    visibility: hidden;
    display: none;
  }

  .burger {
    display: none;
  }

  nav {
    position: relative;
  }

  nav ul {
    display: flex;
    position: relative;
    background-color: unset;
    top: unset;
    bottom: unset;
    right: unset;
    width: unset;
    flex-direction: row;
  }

  nav ul li {
    padding: 10px 15px;

  }

  nav ul li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: .3s;
    background-color: black;
    transform: translateY(20px);
  }


  nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
  }

  nav ul li:last-child {
    font-weight: 550;
  }



  hr {
    width: 100%;
    color: aliceblue;
    justify-content: center;
    justify-items: center;


  }
}