* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background
}



/* burger icon */
.box-burger {

  padding: 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: right;
}

.burger {

  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1,
.bar3 {

  width: 28px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 2px);
  transform: rotate(-45deg) translate(-5px, 2px);
  background-color: white;
  -moz-transform: rotate(-45deg) translate(-5px, 2px);
  -ms-transform: rotate(-45deg) translate(-5px, 2px);
  -o-transform: rotate(-45deg) translate(-5px, 2px);
}

.change .bar2 {
  width: 30px;
  opacity: 10;
  background-color: rgb(255, 255, 255);
}

.change .bar3 {
  -webkit-transform: rotate(43deg) translate(-3px, -2px);
  transform: rotate(43deg) translate(-3px, -2px);
  background-color: white;
  -moz-transform: rotate(43deg) translate(-3px, -2px);
  -ms-transform: rotate(43deg) translate(-3px, -2px);
  -o-transform: rotate(43deg) translate(-3px, -2px);
}

/* wraper */





.container-scroll {
  background-color: rgb(190, 242, 248);

  border-bottom: 1px gray solid;
  padding: 10px 20px;


}

.container {
  background-color: rgb(190, 242, 248);
  padding: 10px 20px;

}

nav {


  transition: top 1s;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
}

nav .brand a {
  font-size: 30px;
  text-decoration: none;
  font-weight: 550;
  color: rgb(102, 101, 101);

}

.bg-sidebar {
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .1);
  transition: .3s;
  visibility: hidden;
}

.bg-sidebar.change {
  right: 0;
  visibility: visible;
  display: block;
}

nav ul {
  display: flex;
  position: fixed;
  background-color: #505050;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  transition: .5s;
  align-items: flex-start;
  flex-direction: column;
}

nav ul.change {
  right: 0;
  transition: .5s;
}

nav ul li {
  list-style: none;
  padding: 10px;

}

nav ul li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

@media screen and (min-width: 960px) {

  .bg-sidebar.change {
    right: 0;
    visibility: hidden;
    display: none;
  }

  .burger {
    display: none;
  }

  nav {
    position: relative;
  }

  nav ul {
    display: flex;
    position: relative;
    background-color: unset;
    top: unset;
    bottom: unset;
    right: unset;
    width: unset;
    flex-direction: row;
  }

  nav ul li {
    padding: 10px 15px;

  }

  nav ul li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: .3s;
    background-color: black;
    transform: translateY(20px);
  }


  nav ul li a {
    color: rgb(71, 71, 71);
    font-size: 1.1rem;
  }

  nav ul li:last-child {
    font-weight: 550;
  }



  hr {
    width: 100%;
    color: aliceblue;
    justify-content: center;
    justify-items: center;


  }
}